# compiled output
/dist
/node_modules
/build

# logs
logs
*.log

# env
.env
.env.*

# temp
.temp
.tmp

# coverage
/coverage

# vscode
.vscode/*

# OS
.DS_Store

# prisma generated
/generated/prisma

# sensitive keys
key.json
service-account.json